<component name="ArtifactManager">
  <artifact type="war" name="springmvc4:war">
    <output-path>$PROJECT_DIR$/springmvc4/target</output-path>
    <root id="archive" name="springmvc4.war">
      <element id="artifact" artifact-name="springmvc4:war exploded" />
    </root>
  </artifact>
</component>